{% extends 'base.html' %}

{% block body %}

<div class="container">
  <h2>Propiedades</h2>          
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Dirección</th>
        <th>Propietario</th>
        <th>Dormitorios</th>
        <th>Baños</th>
        <th>Estacionamiento</th>
        <th>Bodega</th>
        <th>Pisos</th>
        <th>Huéspedes</th>
        <th>Gasto Común</th>
        <th>Comuna</th>
        <th>Región</th>
        <th>Tipo</th>
        <th>Fecha de creación</th>

      </tr>
    </thead>

    <tbody>

      {%for objeto in objetos%}

      <tr> 
        
        <td><a href=" {% url 'prop_detail' pk=objeto.pk %} ">{{objeto.direccion}}</a></td>
        <td>{{objeto.propietario}}</td>
        <td>{{objeto.dormitorios}}</td>
        <td>{{objeto.baños}}</td>
        <td>{{objeto.estacionamiento}}</td>
        <td>{{objeto.bodega}}</td>
        <td>{{objeto.pisos}}</td>
        <td>{{objeto.huespedes}}</td>
        <td>{{objeto.gasto_comun}}</td>
        <td>{{objeto.comuna}}</td>
        <td>{{objeto.region}}</td>
        <td>{{objeto.tipo}}</td>
        <td>{{objeto.fecha_creacion}}</td>
        
      </tr>
 
      {%endfor%}

    </tbody>
  </table>
</div>

{% endblock body %}



